# source
git /extensions/FreeImage                    git://github.com/oe-legacy/extensions-FreeImage.git
git-dev /extensions/FreeImage                git@github.com:oe-legacy/extensions-FreeImage.git

# windows lib
win32 /libraries http://openengine.dk/data/libraries/FreeImage-win32.zip



