# source
darcs /extensions/FreeImage                    http://openengine.dk/code/extensions/FreeImage
darcs-dev /extensions/FreeImage                    fh.daimi.au.dk:/users/cgd/code/extensions/FreeImage

# windows lib
win32 /libraries http://openengine.dk/data/libraries/FreeImage-win32.zip



